@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/** Config **/
.cfpp-hidden {
    display: none;
}

.cfpp-config-btn {
    font-size: 22px !important;
    cursor: pointer;
}

.cfpp-config>.cfpp-modal-inner {
    width: 30%;
}

.cfpp-modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
}
.cfpp-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000087;
    animation: fadeIn 0.15s forwards;
}
html.cfpp-dark-mode .cfpp-modal-background { background: #ffffff87; }
.cfpp-modal-inner>label {
    position: relative;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}
.cfpp-modal-inner input[type=text], .cfpp-modal-inner input[type=number] {
    width: 32%;
}
.cfpp-modal-inner input[type=checkbox] {
    visibility: hidden;
}
.cfpp-modal-inner .toggle>span {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: calc(50% - 0.7rem);
    right: 0;
    display: inline-block;
    border: thin solid #188ecd;
    border-radius: 100%;
    background: #eee;
    transition: background 0.2s;
}
.cfpp-modal-inner .toggle>input:checked + span {
    background: #188ecd;
}
.cfpp-modal-inner .toggle>span:before {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 0.8em;
}
.cfpp-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-height: 80vh;
    background: white;
    padding: 2em;
    border-radius: 6px;
    overflow: auto;
    animation: fadeIn 0.15s forwards;
}

.hr {
    display: block;
    border-top: 1px solid #7f7f7f52;
    width: calc(100% + 4em);
    margin: .5em -2em;
}

/** Navbar **/
.cfpp-navbar {
    float: left;
    margin-left: 1.5em;
}
.cfpp-navbar-item {
    display: inline-block;
    position: relative;
    margin-right: 1.5em;
}
.cfpp-navbar-item>a {
    color: #212121 !important;
}
.cfpp-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    z-index: 99;
    display: none;
    background: #212121;
    padding: 1em;
    box-shadow: 1px 7px 19px #00000054;
}
.cfpp-dropdown a {
    display: block;
    color: #E0E0E0 !important;
}
.cfpp-navbar-item:hover .cfpp-dropdown,
.cfpp-navbar-item:focus-within .cfpp-dropdown {
    display: block;
}

/** Finder **/
.finder-inner {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60vw;
    animation: fadeIn 0.15s forwards;
}
.finder-input, .finder-results {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-family: 'Libre Franklin', 'Roboto', sans-serif;
    font-size: 1.25em;
}
.finder-input {
    padding: 1em 1.25em;
    margin-bottom: 1.5em;
    transition: box-shadow 0.2s;
}
.finder-input:focus {
    outline: none;
    box-shadow: 0 6px 19px #0b28667a;
}
.finder-results {
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 75vh;
    overflow: auto;
}
.finder-results a {
    cursor: pointer;
    color: #282828 !important;
    display: block;
    padding: 1em 1.25em;
    transition: color, margin-left 0.1s;
}
.finder-results a:focus {
    color: #2c63d5;
    outline: none;
    margin-left: 0.25em;
}

.inverted {
    filter: invert(1);
}
html.cfpp-dark-mode, html.cfpp-dark-mode img {
    filter: invert(1) hue-rotate(180deg);
}
html.cfpp-dark-mode .MathJax img:not(.inverted),
html.cfpp-dark-mode .tex-formula:not(.inverted) {
    filter: none !important;
}
#header img { filter: none; }
html.cfpp-dark-mode, html.cfpp-dark-mode body {
    background: hsl(0, 0%, 93%) !important;
}

.verdict-hide-number .verdict-format-judged,
.verdict-hide-number .diagnosticsHint {
    display: none !important;
}

/* Sidebar Box */
.boxRow a, .boxRow input {
    color: black !important;
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
}
.boxRow form {
    margin: 0 !important;
}

/* Spoilers */
.spoilered:not(:hover), .spoilered-mashup ._MashupContestEditFrame_tags:not(:active) {
    background: black;
    color: black;
    opacity: .25;
}
.spoilered:not(:hover) img, .spoilered:not(:hover) a {
    visibility: hidden;
}
.spoilered-mashup ._MashupContestEditFrame_tags.notice:not(:active) {
    color: black !important; /* .notice has a "color: #888 !important",
                                so ours needs to be... more important... */
}
.spoilered-mashup ._MashupContestEditFrame_tags {
    cursor: pointer;
    min-width: 50%;
}
